name: Build and run all tests
on:
    push:
        branches:
            - main
    pull_request:

jobs:
    test:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                go-version: [1.24.x]
                os: [ubuntu-latest, macos-latest]

        steps:
            - name: Get the version
              id: get_version
              run: echo ::set-output name=tag::$(echo ${GITHUB_SHA:8})

            - name: Set up Go
              uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
              with:
                  go-version: ${{ matrix.go-version }}

            - name: Cache go modules
              uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
              with:
                  path: ~/go/pkg/mod
                  key: ${{ runner.os }}-go-${{ hashFiles('go.sum') }}
                  restore-keys: ${{ runner.os }}-go-${{ hashFiles('go.sum') }}

            - name: Check out code
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.2

            - name: Get and verify dependencies
              run: go mod download && go mod verify

            - name: Go vet
              run: go vet ./...

            - name: Run race detector
              run: go build -race ./...

            - name: Run tests
              run: go test ./...
