name: golangci-lint
on:
  pull_request:

jobs:
  backend-lint:
    name: Lint
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.2

      - name: golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20  # v9.2.0
        with:
          args: --config=.golangci.yml --timeout 5m --verbose
          only-new-issues: 'true'
          version: v2.1